/* グローバルスタイルリセット */
html {
    background-color: #f5f5f5;
}

body {
    margin: 0;
    font-family: 'Segoe UI', 'Yu Gothic UI', 'Meiryo', -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    height: 100vh;
}
